.fact {
    top: 20px;
    position: absolute;
    width: 250px;
    bottom: 20px;
    left: 20px;
    z-index: 1000;
    color: #000;
    overflow-y: scroll;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(255, 255, 255, .9);
    margin: 20px;
    padding: 20px;
    padding-right: 20px;
    padding-left: 10px;
    border: 20px solid rgba(255, 255, 255, .9);
    background-clip: padding-box;
    border-radius: 4px;
}

.fact::-webkit-scrollbar {
    position: absolute;
    width: 6px !important;
}

.fact::-webkit-scrollbar * {
    background: transparent !important;
}

.fact::-webkit-scrollbar-thumb {
    background: #AC1A22 !important;
    border-radius: 8px !important;
    opacity: .8 !important;
    margin-top: 20px !important;
    margin-bottom: 20px !important;
}

.fact span {
    line-height: 24px;
}

.fact::-webkit-scrollbar-thumb:hover {
    background: #AC1A22 !important;
}

#engaged {
    top: 75px;
    width: 1000px;
    height: 400px;
    position: absolute;
    overflow: hidden;
}

input:focus,
textarea:focus {
    outline: none;
}

.cardWrapper {
    width: 250px;
    height: 200px;
    display: inline;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    border: 0px;
    margin: 0px;
    float: left;
}

.cardFace {
    position: absolute;
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 0px;
    margin: 0px;
    background-size: cover;
}

.solid {
    top: 0px;
    left: 0px;
    position: absolute;
    width: 250px;
    height: 200px;
    overflow: hidden;
    border: 0px;
    margin: 0px;
    background-color: #000;
    opacity: .0;
    display: block;
    z-index: -1000;
}

.front {}

.back {
    box-sizing: border-box;
    background-color: #FFAA00;
    border-top: 4px solid #FF2C1A;
    border-style: inset;
}

.card {}

h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-top: 130px;
    padding-left: 20px;
    color: #FDB000;
    text-shadow: 1px 1px 4px #000;
    background-color: rgba(0, 0, 0, .5);
    width: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    margin: 40px 20px;
    color: #333;
}

h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    color: #FDB000;
    width: 100%;
}

p {
    font-family: 'Roboto', sans-serif;
    margin: 20px;
    font-size: 14px;
    color: #FFF;
    text-shadow: 0px 0px 2px #000;
}

.read {
    position: absolute;
    -webkit-transform-style: preserve-3d;
    -webkit-transform-origin: 65.5px 17px 0px;
    -webkit-transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    right: 10px;
    bottom: 10px;
    background-color: rgb(187, 45, 45);
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    width: 100px;
}

.read:hover {
    background-color: #FFF;
    color: rgb(187, 45, 45);
    transition-duration: 0.2s
}

.banner {
    width: 300px;
    height: 250px;
}

.expanded {
    width: 1000px;
    height: 550px;
}

#expand-button {
    position: absolute;
    width: 300px;
    height: 250px;
    border-style: solid;
    border-width: 0px;
    left: 0px;
    top: 0px;
}

#close-button {
    position: absolute;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    right: 8px;
    top: 8px;
    background-color: rgb(0, 0, 0);
    display: none;
}

.invitationImage {
    width: 300px;
    height: 250px;
    left: 0px;
    top: 0px;
}

.ctaButton {
    position: absolute;
    width: 200px;
    height: 140px;
    border-width: 1px;
    border-style: solid;
    left: 239px;
    top: 496px;
}

#myContent {}
